/* Reset styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2 {
  font-family: 'Cinzel Decorative', cursive;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
  background: linear-gradient(
    180deg,
    #3f2c20 0%,
    #322217 40.87%,
    #20150f 71.15%,
    #060201 100%
  );

  @include media(desktop) {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
    background-image: url('../img/desktop/body-background-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
}
