/* Reset styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #1e1e1e;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Inter', sans-serif;
}

h1,
h2 {
  font-family: 'Cinzel Decorative', cursive;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;


  @include media(desktop) {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
  }

}

h2 {
  display: inline-block;
  border-bottom: 2px solid rgba(213, 136, 28, 0.8);
}