<section class="about-section container" id="about">
  <div class="about-wrap">
    <h2 class="about-title">O nas</h2>
    <h3 class="about-subtitle">
      Tworzymy światy, które można odkrywać bez granic
    </h3>
    <div class="about-text-wrap">
      <p class="about-text">
        Jesteśmy zespołem twórców, grafików, programistów i miłośników gier
        przygodowych. Naszą misją jest tworzenie interaktywnych historii, które
        wciągają i inspirują. Każdy pokój to ręcznie zaprojektowany scenariusz,
        pełen niespodzianek, ukrytych wskazówek i emocji.
      </p>
      <p class="about-text">
        Nie korzystamy z gotowych szablonów — każda gra to oryginalny projekt, pełen
        kreatywności i pasji.
      </p>
    </div>
  </div>
</section>
