<section class="adventure-rooms-section container" id="adventure-rooms">
  <div class="content-wrap-adventure-rooms">
    <h2 class="adventure-rooms-title">Anasze Pokoje Przygód</h2>
    <div class="adventure-text-wrap">
      <h3 class="adventure-rooms-subtitle">Wirtualne pokoje, realne emocje</h3>
      <p class="adventure-rooms-description">
        Każdy pokój to osobna przygoda z unikalną fabułą i klimatem.
      </p>
      <p class="adventure-rooms-description">
        Od tajemniczych zamków po stacje kosmiczne — nasze escape roomy zostały
        stworzone z dbałością o detale wizualne i narracyjne:
      </p>
    </div>

    <ul class="adventure-rooms-list">
      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="./img/mobile/castle.png"
          alt="Zamek Lustrzanego Maga"
        />
        <article class="aricle-border">
          <div class="room-list-title-wrap">
            <img
              class="room-list-icon"
              src="./img/mobile/crystal-ball.png"
              alt="crystal ball"
            />
            <h4 class="adventure-rooms-item-title">Zamek Lustrzanego Maga</h4>
          </div>
          <p class="adventure-rooms-item-description">
            Przenieś się do zamku zawieszonego między wymiarami, w którym magia
            odbija się w tysiącach luster.
          </p>
          <p class="adventure-rooms-item-description">
            Twoim zadaniem będzie odnalezienie klucza do Portalu Prawdy,
            rozwiązując zagadki przestrzenne, manipulując światłem i przełamując
            iluzje.
          </p>
          <p class="adventure-rooms-item-description">
            Zaklęcia, runy i pradawne księgi pomogą Ci, ale uważaj – każde
            lustro może prowadzić do innej rzeczywistości.
          </p>
          <p class="adventure-rooms-item-description">
            To świat dla tych, którzy kochają fantasy i wyzwania logiczne z nutą
            mistyki.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="./img/mobile/laboratory.png"
          alt="laboratory"
        />
        <article class="aricle-border">
          <div class="room-list-title-wrap">
            <img
              class="room-list-icon"
              src="./img/mobile/flat_dna.png"
              alt=""
            />
            <h4 class="adventure-rooms-item-title">Projekt: Nexus 13</h4>
          </div>
          <p class="adventure-rooms-item-description">
            Obudziłeś się w sterylnym, pozbawionym ludzi laboratorium. Komputery
            wciąż pracują, alarmy migają, a z systemów dochodzi głos AI, która
            najwyraźniej... ma swój własny plan. Twoim zadaniem będzie złamanie
            kodów, przejęcie kontroli nad terminalami i odkrycie, czym naprawdę
            był Projekt Nexus. Elementy sci-fi, cybernetyki i thrilleru
            naukowego przeplatają się tu w futurystycznej atmosferze pełnej
            napięcia i niespodzianek.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="./img/mobile/clocks.png"
          alt="clocks"
        />
        <article class="aricle-border">
          <div class="room-list-title-wrap">
            <img
              class="room-list-icon"
              src="./img/mobile/moon.png"
              alt="moon"
            />
            <h4 class="adventure-rooms-item-title">Sen Alicji</h4>
          </div>
          <p class="adventure-rooms-item-description">
            Czy jesteś gotów na logiczną podróż po świecie snu, w którym nic nie
            jest tym, czym się wydaje? Labirynty z kart do gry, latające drzwi,
            gadające zegary i łamigłówki, które zmieniają się w zależności od
            kierunku patrzenia. Ten pokój to interaktywna baśń inspirowana
            twórczością Lewisa Carrolla — surrealistyczna, piękna i niepokojąca.
            Idealna dla tych, którzy chcą oderwać się od rzeczywistości i wejść
            w pełen koloru sen.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="./img/mobile/workplace.png"
          alt="workplace"
        />
        <article class="aricle-border">
          <div class="room-list-title-wrap">
            <img
              class="room-list-icon"
              src="./img/mobile/detective.png"
              alt="detective"
            />
            <h4 class="adventure-rooms-item-title">
              Archiwum Przypadków Detektywa Q
            </h4>
          </div>
          <p class="adventure-rooms-item-description">
            Witaj w mrocznym biurze zapomnianego detektywa, gdzie każdy
            przedmiot to trop, a każda fotografia to ślad w niezamkniętej
            sprawie.
          </p>
          <p class="adventure-rooms-item-description">
            Styl noir, dym cygar, stukot maszyny do pisania i tajemnica, która
            prowadzi do sekretnej organizacji w steampunkowym mieście. Rozwiąż
            wielopiętrową intrygę łączącą ślady z przeszłości z zagadkami
            przyszłości. Klimatyczny pokój dla fanów klasycznych kryminałów i
            złożonych fabularnie historii.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="./img/mobile/voolkano.png"
          alt="Woolkano"
        />
        <article class="aricle-border">
          <div class="room-list-title-wrap">
            <img
              class="room-list-icon"
              src="./img/mobile/fire.png"
              alt="fire"
            />
            <h4 class="adventure-rooms-item-title">
              Ostatnia Przepowiednia Wulkanicznego Ludu
            </h4>
          </div>
          <p class="adventure-rooms-item-description">
            Wnętrze pradawnego krateru, gdzie starożytna cywilizacja zostawiła
            zagadki, rytuały i zakodowane przesłania. Lawowe tunele,
            pomarańczowe światło i dźwięki uśpionego olbrzyma tworzą atmosferę
            napięcia i duchowej misji. Tylko rozwiązując wszystkie etapy świętej
            przepowiedni, możesz zatrzymać zbliżającą się katastrofę. Ten pokój
            łączy mitologię, eksplorację i symboliczne zagadki z elementami
            geologii i historii zapomnianego świata.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="./img/mobile/teatre.png"
          alt="teatre"
        />
        <article class="aricle-border">
          <div class="room-list-title-wrap">
            <img class="room-list-icon" src="/img/mobile/hat.png" alt="" />
            <h4 class="adventure-rooms-item-title">
              Kabinet Iluzjonisty Tenebra
            </h4>
          </div>
          <p class="adventure-rooms-item-description">
            Stary teatr, kurz na aksamitnych fotelach, zegary cofające czas...
            Trafiasz do opuszczonego gabinetu legendarnego magika Tenebrae,
            którego sztuczki przekraczały granice rzeczywistości. Manipulacja
            przedmiotami, ukryte mechanizmy i iluzje optyczne czekają na
            odkrycie. Czy uda Ci się przejrzeć wszystkie sztuczki i odkryć, co
            naprawdę zniknęło w ostatnim występie? Dla fanów zagadek
            przestrzennych, psychologicznych sztuczek i nastrojowego klimatu
            retro.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="./img/mobile/spaceship.png"
          alt="spaceship"
        />
        <article class="aricle-border">
          <div class="room-list-title-wrap">
            <img
              class="room-list-icon"
              src="./img/mobile/milky-way.png"
              alt="milky way"
            />
            <h4 class="adventure-rooms-item-title">Stacja Echo 9</h4>
          </div>
          <p class="adventure-rooms-item-description">
            Gdzieś na granicy znanej galaktyki dryfuje opuszczona stacja
            badawcza. Brak załogi. Czas stanął w miejscu. A jednak słychać
            nagrania — wiadomości z przeszłości, które coś próbują powiedzieć. W
            tej przygodzie musisz połączyć dane, dekodować transmisje i
            zdecydować, czy aktywować stację… czy zostawić ją w ciszy. Pokój
            eksploruje samotność, czas, pamięć i alternatywne linie
            rzeczywistości. Idealny dla tych, którzy lubią narracje z
            melancholią i filozoficznym zacięciem.
          </p>
        </article>
      </li>
    </ul>

    <p class="note">
      Każdy pokój oferuje nieliniowe rozwiązania i alternatywne zakończenia.
    </p>
  </div>
</section>
