<section class="adventure-rooms-section" id="adventure-rooms">
  <div class="content-wrap-adventure-rooms">
    <h2 class="adventure-rooms-title">Anasze Pokoje Przygód</h2>
    <h3 class="adventure-rooms-subtitle">Wirtualne pokoje, realne emocje</h3>
    <p class="adventure-rooms-description">
      Każdy pokój to gotowa przygoda z unikalną fabułą i klimatem. <br />
      Od tajemniczych zamków po stacje kosmiczne — nasze escape roomy zostały
      stworzone z dbałością o detale wizualne i narracyjne.
    </p>

    <ul class="adventure-rooms-list">
      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="img/magiczny-zamek.jpg"
          alt="Zamek Lustrzanego Maga"
        />
        <article>
          <h4 class="adventure-rooms-item-title">Zamek Lustrzanego Maga</h4>
          <p class="adventure-rooms-item-description">
            Wejdź do tej złowrogiej, zaczarowanej warowni, w której lustra są
            bramami do innych światów. Portal-Przejścia, iluzje i magiczne
            zagadki czekają na rozwiązanie. Odszukaj Księgę Przeznaczenia, zanim
            zamek zmieni rzeczywistość na zawsze.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="img/nexus-13.jpg"
          alt="Projekt: Nexus 13"
        />
        <article>
          <h4 class="adventure-rooms-item-title">Projekt: Nexus 13</h4>
          <p class="adventure-rooms-item-description">
            Odszukaj wyjście ze skrywanego, podziemnego świata laboratorium.
            Czas działa na twoją niekorzyść, a awaria systemu grozi katastrofą.
            Zmierz się z zaawansowaną technologią, sztuczną inteligencją i
            niebezpiecznymi decyzjami.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="img/sen-alicji.jpg"
          alt="Sen Alicji"
        />
        <article>
          <h4 class="adventure-rooms-item-title">Sen Alicji</h4>
          <p class="adventure-rooms-item-description">
            Czy jesteś gotów zgubić się w krainie cudów? W świecie pełnym
            niespodzianek i łamigłówek, gdzie obowiązują inne zasady logiki.
            Znajdź Króliczą Norę i zdecyduj, czy chcesz obudzić się czy pozostać
            w tej iluzji.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="img/archiwum-detektywa.jpg"
          alt="Archiwum Przypadków Detektywa Q"
        />
        <article>
          <h4 class="adventure-rooms-item-title">
            Archiwum Przypadków Detektywa Q
          </h4>
          <p class="adventure-rooms-item-description">
            Witaj w mrocznym biurze zapomnianego śledczego, gdzie fakty mieszają
            się z fantazją. Rozwiąż sprawy, których nie podjęła się żadna inna
            agencja. Zbieraj wskazówki, łącz tropy i odkryj prawdę ukrytą w
            aktach.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="img/ostatnia-przepowiednia.jpg"
          alt="Ostatnia Przepowiednia Wulkanicznego Ludu"
        />
        <article>
          <h4 class="adventure-rooms-item-title">
            Ostatnia Przepowiednia Wulkanicznego Ludu
          </h4>
          <p class="adventure-rooms-item-description">
            Wkrocz do pradawnej, ognistej jaskini ostatnich cywilizacji.
            Wydobądź ukrytą wiedzę i zdecyduj, czy warto ocalić świat. Mistyczne
            symbole, pradawne rytuały i ogniste pułapki będą ci towarzyszyć na
            każdym kroku.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="img/kabinet-tenebra.jpg"
          alt="Kabinet Iluzjonisty Tenebra"
        />
        <article>
          <h4 class="adventure-rooms-item-title">
            Kabinet Iluzjonisty Tenebra
          </h4>
          <p class="adventure-rooms-item-description">
            Zasiądź na aksamitnych fotelach, zgadnij kolejny trick... lub poznaj
            sekret, który nie powinien ujrzeć światła dziennego. Magia teatru i
            złudzeń zmyli niejednego poszukiwacza prawdy.
          </p>
        </article>
      </li>

      <li class="adventure-rooms-item">
        <img
          class="adventure-rooms-img"
          src="img/stacja-echa.jpg"
          alt="Stacja Echo 9"
        />
        <article>
          <h4 class="adventure-rooms-item-title">Stacja Echo 9</h4>
          <p class="adventure-rooms-item-description">
            Zamglona baza w głębi galaktyki czeka na ostatni rozkaz. Jesteś
            jedynym, kto może ją reaktywować... lub zgasić na zawsze. Przeszłość
            i przyszłość splatają się w dziwnym tańcu wydarzeń.
          </p>
        </article>
      </li>
    </ul>

    <p class="note">
      Każdy pokój oferuje nieliniowe rozwiązania i alternatywne zakończenia.
    </p>
  </div>
</section>
