<section class="contact-section container" id="contacts">
  <div class="contact-wrap">
    <h2 class="contact-title">Kontakt</h2>
    <h3 class="contact-subtitle">
      Skontaktuj się z nami lub zacznij grę już teraz
    </h3>

    <div class="contact-content-wrap">
      <div class="contact-box">
        <p class="contact-text">Masz pytanie?</p>
        <p class="contact-text">
          Chcesz zorganizować event lub kupić voucher prezentowy?
        </p>
        <p class="contact-text contact-box-bottom">
          Napisz do nas – odpowiadamy w ciągu <span>24h.</span>
        </p>
      </div>
      <div class="info-list-wrap-btn">
        <ul class="contact-info-list">
          <li class="contact-info-item">
            <img src="./img/mobile/icon_email.png" alt="Email icon" class="contact-icon" />
            <a href="mailto:info@dazzlingjoypuzzle.com"
              >info@dazzlingjoypuzzle.com</a
            >
          </li>
          <li class="contact-info-item">
            <img src="./img/mobile/icons_globe.png" alt="globe" class="contact-icon" />
            Dostępność: 24/7
          </li>
          <li class="contact-info-item">
            <img
              src="./img/mobile/megaphone.png"
              alt="megaphone icon"
              class="contact-icon"
            />
            Dołącz do newslettera i otrzymuj dostęp do ekskluzywnych pokoi i zniżek!
          </li>
        </ul>
        <a href="#" class="contact-cta-btn-desktop">Zacznij przygodę teraz</a>
      </div>
    </div>
    <a href="#" class="contact-cta-btn">Zacznij przygodę teraz</a>

  </div>
</section>
