<section >
  <div class="cookies-wrap container">
    <h2 class="cookie-title-modal">Cookies Policy</h2>
      <div class="cookkie-text-wrap">
        <p class="cookies-text">
          We use cookies to improve your experience on our website.
        </p>
        <p class="cookies-text">By browsing this website, you agree to our use of cookies.</p>
      </div>
      <div class="cookies-btn-wrap">
        <button class="cookies-decline cookie-btn">DECLINE COOKIES</button>
        <button class="cookies-accept cookie-btn">ACCEPT COOKIES</button>
      </div>
  </div>
</section>
