<footer class="footer-section container">
  <div class="logo-brand-wrap">
    <img
      class="footer-logo"
      src="./img/mobile/puzzle-room-logo.png"
      alt="Puzzle Room Logo"
    />
    <h3 class="footer-brand-hidden">The Dazzling Joy Puzzle Room</h3>
  </div>
  <div class="footer-top">
    <div class="footer-left">

      <ul class="footer-contact-list">
        <li class="contact-item">
          <img
            src="./img/mobile/map-pin.png"
            alt="Pin icon"
            class="contact-icon"
          />
          <p class="footer-contact-text">Polska</p>
        </li>
        <li class="contact-item">
          <img
            src="./img/mobile/blue-globe.png"
            alt="Globe icon"
            class="contact-icon"
          />
          <p class="footer-contact-text">Dostępne online 24/7</p>
        </li>
        <li class="contact-item">
          <img
            src="./img/mobile/emoji_email.png"
            alt="Email icon"
            class="contact-icon"
          />
          <a
            class="footer-contact-text footer-email-link"
            href="mailto:info@dazzlingjoypuzzle.com"
            >info@dazzlingjoypuzzle<span>.com</span></a
          >
        </li>
      </ul>
    </div>

    <div class="footer-right">
      <!-- <h3 class="footer-brand">The Dazzling Joy Puzzle Room</h3> -->
      <ul class="footer-links-list">
        <li class="footer-links-item">
          <a class="footer-links" href="./privat-policy.html"
            >Polityka Prywatności</a
          >
          <p class="footer-desktop-info-hiden">
            Zapewniamy pełną ochronę Twoich danych osobowych, zgodnie z
            obowiązującymi przepisami.
          </p>
        </li>
        <li class="footer-links-item">
          <a class="footer-links" href="./terms-and-conditions.html"
            >Regulamin</a
          >
          <p class="footer-desktop-info-hiden">Nasze zasady korzystania z gry i korzystania z naszych usług.</p>
        </li>
        <li class="footer-links-item">
          <a class="footer-links" href="./cookies-policy.html"
            >Polityka Cookies</a
          >
          <p class="footer-desktop-info-hiden">
            Informacje o wykorzystywaniu ciasteczek na naszej stronie
            internetowej.
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-divider"></div>

  <div class="footer-bottom">
    <p class="footer-copy">
      © 2025 The Dazzling Joy Puzzle Room. Wszystkie prawa zastrzeżone.
    </p>
    <p class="footer-note">
      Wszystkie gry dostępne są na platformie online, z zapewnieniem
      bezpieczeństwa i pełnej ochrony danych.
    </p>
  </div>
</footer>
