<section class="gallery-section container" id="gallery">
  <div class="gallery-wrap">
    <h2 class="gallery-title">Galeria Zagadek</h2>
    <h3 class="gallery-subtitle">Zobacz magię w obrazach</h3>

    <h4 class="gallery-description">
      Nasza galeria to wgląd do wnętrza wirtualnych pokoi:
    </h4>

    <ul class="gallery-features-list">
      <li class="gallery-feature-item">
        <img class="feature-icon" src="./img/mobile/puzzle-piece.png" />
        <p class="gallery-features-list-text">
          Stylizowane lokacje pełne detali
        </p>
      </li>
      <li class="gallery-feature-item">
        <img
          class="feature-icon"
          src="./img/mobile/magnifying-glass-tilted-left.png"
        />
        <p class="gallery-features-list-text">
          Interaktywne przedmioty i ukryte wskazówki
        </p>
      </li>
      <li class="gallery-feature-item">
        <img class="feature-icon" src="./img/mobile/open-book.png" />
        <p class="gallery-features-list-text">
          Inspiracje literaturą, filmami i mitologią
        </p>
      </li>
    </ul>

    <p class="gallery-note">
      Zobacz jak wyglądają nasze światy — każdy screen to zaproszenie do innej
      przygody.
    </p>

    <div class="gallery-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="gallery-img-desktop" src="./img/desktop/desktop-slide-1.png" alt="">
          <img
            src="./img/mobile/slide-1.png"
            alt="castle"
            class="gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img class="gallery-img-desktop" src="./img/desktop/desktop-slide-2.png" alt="">
          <img
            src="./img/mobile/slide-2.png"
            alt="workplace"
            class="gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img class="gallery-img-desktop" src="./img/desktop/desktop-slide-3.png" alt="">
          <img
            src="./img/mobile/slide-3.png"
            alt="garden"
            class="gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img class="gallery-img-desktop" src="./img/desktop/desktop-slide-4.png" alt="">
          <img
            src="./img/mobile/slide-4.png"
            alt="wulkano"
            class="gallery-img"
          />
        </div>
        <div class="swiper-slide">
          <img class="gallery-img-desktop" src="./img/desktop/desktop-slide-5.png" alt="">
          <img
            src="./img/mobile/slide-5.png"
            alt="spaceship"
            class="gallery-img"
          />
        </div>
      </div>

      <div class="gallery-nav">
        <button class="gallery-btn-prev" aria-label="Previous slide">
          <img
            class="left-arrow"
            src="./img/mobile/left-arrow.png"
            alt="left arrow"
          />
        </button>
        <button class="gallery-btn-next" aria-label="Next slide">
          <img
            class="right-arrow"
            src="/img/mobile/right-arrow.png"
            alt="right arrow"
          />
        </button>
      </div>
    </div>
  </div>
</section>
