<section class="game-modes-section">
  <div class="game-modes-wrap">
    <h2 class="game-modes-title">Tryby Gry</h2>
    <h3 class="game-modes-subtitle">Dopasuj grę do siebie</h3>
    <p class="game-modes-description">
      Wierzymy, że każda przygoda powinna być dostępna w sposób, który najlepiej odpowiada Twoim potrzebom i stylowi gry. <br />
      Dlatego oferujemy trzy różnorodne tryby gry, dzięki którym możesz przeżywać nasze escape roomy w dokładnie taki sposób, jak lubisz:
    </p>

    <ul class="game-modes-options">
      <li class="game-modes-option">samodzielnie</li>
      <li class="game-modes-option">z przyjaciółmi</li>
      <li class="game-modes-option">albo w większej grupie w ramach wydarzenia</li>
    </ul>

    <p class="game-modes-note">
      Niezależnie od trybu, wszystkie nasze pokoje działają na komputerach i urządzeniach mobilnych, z reguły można rozpocząć o dowolnej porze.
    </p>

    <ul class="game-modes-cards">
      <li class="game-mode-card">
        <img class="game-mode-img" src="img/solo.jpg" alt="Solo" />
        <article>
          <h4 class="game-mode-title">Solo</h4>
          <p class="game-mode-description">
            Dla samotnych odkrywców i mistrzów skupienia.<br />
            Ten tryb pozwala w pełni zanurzyć się w opowieści i skupić na rozwiązaniu zagadek w swoim tempie. Idealny dla tych, którzy lubią niezależność i pełną kontrolę nad rozgrywką.
          </p>
        </article>
      </li>

      <li class="game-mode-card">
        <img class="game-mode-img" src="img/coop.jpg" alt="Kooperacja online" />
        <article>
          <h4 class="game-mode-title">Kooperacja online<br />(2–4 osoby)</h4>
          <p class="game-mode-description">
            Wspólna zabawa bez wychodzenia z domu!<br />
            Tryb umożliwia rozgrywkę z przyjaciółmi na odległość. Wspólnie rozwiązujcie zagadki, podejmujcie decyzje i wpływajcie na bieg historii. Potrzebna jest tylko komunikacja głosowa i współpraca.
          </p>
        </article>
      </li>

      <li class="game-mode-card">
        <img class="game-mode-img" src="img/eventy.jpg" alt="Pakiety eventowe" />
        <article>
          <h4 class="game-mode-title">Pakiety eventowe</h4>
          <p class="game-mode-description">
            Dla szkół, firm i grup zorganizowanych.<br />
            Wersja z opiekunem, dodatkową narracją i integracyjnymi elementami. Doskonała opcja na lekcje wychowawcze, dni integracyjne, szkolenia zespołowe czy eventy. Zadbamy o przebieg gry i zaangażowanie uczestników.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
