<section class="game-modes-section container" id="game-mode">
  <div class="game-modes-wrap">
    <h2 class="game-modes-title">Tryby Gry</h2>
    <h3 class="game-modes-subtitle">Dopasuj grę do siebie</h3>
    <div class="game-description-text-wrap">
      <p class="game-modes-description">
        Wierzymy, że każda przygoda powinna być dostępna w sposób, który
        najlepiej odpowiada Twoim potrzebom i stylowi życia.
      </p>
      <p class="game-modes-description">
        Dlatego oferujemy trzy różnorodne tryby gry, dzięki którym możesz
        przeżywać nasze escape roomy w dokładnie taki sposób, jaki lubisz:
      </p>
    </div>

    <ul class="game-modes-options-list">
      <li class="game-modes-option-item">
        <img class="check-mark" src="./img/mobile/check-mark.png" alt="" />
        <p class="check-mark-text">samodzielnie</p>
      </li>
      <li class="game-modes-option-item">
        <img class="check-mark" src="./img/mobile/check-mark.png" alt="" />
        <p class="check-mark-text">z przyjaciółmi</p>
      </li>
      <li class="game-modes-option-item">
        <img class="check-mark" src="./img/mobile/check-mark.png" alt="" />
        <p class="check-mark-text">
          albo w większej grupie w ramach wydarzenia
        </p>
      </li>
    </ul>

    <p class="game-modes-note">
      Niezależnie od trybu, wszystkie nasze pokoje działają na komputerach i
      urządzeniach mobilnych, a rozgrywkę można rozpocząć o dowolnej porze.
    </p>

    <ul class="game-modes-cards-list">
      <li class="game-mode-card-item">
        <img
          class="game-mode-img"
          src="./img/mobile/kid.png"
          alt="kid with laptop"
        />
        <article class="game-mode-article">
          <h3 class="game-mode-title">Solo</h3>
          <h4 class="game-mode-sutitle">
            Dla samotnych odkrywców i mistrzów skupienia
          </h4>
          <p class="game-mode-description">
            Ten tryb to idealna opcja dla osób, które lubią zagłębiać się w
            fabułę i rozwiązywać zagadki we własnym tempie. Gra solo pozwala
            skupić się na każdym szczególe, bez presji czasu czy interakcji z
            innymi graczami. Świetny sposób na trening logicznego myślenia,
            koncentracji i samodzielnego podejmowania decyzji. W każdej chwili
            możesz zatrzymać grę i wrócić do niej później — to Ty ustalasz
            zasady.
          </p>
        </article>
      </li>

      <li class="game-mode-card-item game-mode-reverse-card">
        <img
          class="game-mode-img"
          src="./img/mobile/couple.png"
          alt="couple with laptop"
        />
        <article class="game-mode-article">
          <h3 class="game-mode-title">Kooperacja online (2–4 osoby)</h3>
          <h4 class="game-mode-sutitle">
            Wspólna zabawa bez względu na odległość
          </h4>
          <p class="game-mode-description">
            Zaproś znajomych lub rodzinę i wspólnie zmierzcie się z zagadkami w
            czasie rzeczywistym! Nasze escape roomy online pozwalają na
            komunikację i współpracę z graczami z różnych miejsc na świecie.
            Każdy z uczestników ma swoją rolę i wpływa na przebieg przygody, a
            sukces zależy od dobrej komunikacji i pracy zespołowej. To idealny
            sposób na kreatywne spotkanie, wieczór z przyjaciółmi lub zdalną
            rozrywkę z partnerem.
          </p>
        </article>
      </li>

      <li class="game-mode-card-item">
        <img
          class="game-mode-img"
          src="./img/mobile/team.png"
          alt="team playing"
        />
        <article class="game-mode-article">
          <h3 class="game-mode-title">Pakiety eventowe</h3>
          <h4 class="game-mode-sutitle">
            Dla szkół, firm i grup zorganizowanych
          </h4>
          <p class="game-mode-description">
            Szukasz ciekawej atrakcji na lekcję, warsztaty, integrację lub
            firmowy team-building? Nasze pakiety eventowe to gotowe zestawy
            gier, które można dostosować do większej liczby uczestników.
            Oferujemy personalizowane pokoje tematyczne, możliwość gry w
            zespołach i wsparcie techniczne podczas wydarzenia. Zabawne,
            edukacyjne i angażujące — świetnie sprawdzają się zarówno w
            szkołach, jak i w środowiskach zawodowych, promując współpracę i
            nieszablonowe myślenie.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
