<header class="header-section container">
  <nav class="header-nav">
    <div class="header-wrap">
      <a class="header-logo-link" href="./"><img class="header-logo" src="./img/mobile/puzzle-room-logo.png" alt="logo" /></a>
      <button class="open-menu-btn" type="button">
        <img src="./img/mobile/burger-menu.png" alt="menu button">
      </button>
      <button class="close-menu-btn" type="button"><img src="./img/mobile/close-menu-burger.png" alt="close button"></button>
    </div>
    <ul class="hiden-menu-list">
      <li class="hiden-menu-item">
        <a class="hiden-menu-link" href="#hero">Wprowadzenie do świata zagadek</a>
      </li>
      <li class="hiden-menu-item"><a class="hiden-menu-link" href="#about">O nas</a></li>
      <li class="hiden-menu-item"><a class="hiden-menu-link" href="#how-it-works">Jak to działa?</a></li>
      <li class="hiden-menu-item"><a class="hiden-menu-link" href="#adventure-rooms">Nasze pokoje przygód</a></li>
      <li class="hiden-menu-item"><a class="hiden-menu-link" href="#game-mode">Tryby gry</a></li>
      <li class="hiden-menu-item">
        <a class="hiden-menu-link" href="#why-us">Dlaczego warto nas wybrać?</a>
      </li>
      <li class="hiden-menu-item"><a class="hiden-menu-link" href="#gallery">Galeria zagadek</a></li>
      <li class="hiden-menu-item"><a class="hiden-menu-link" href="#target">Dla kogo to jest?</a></li>
      <li class="hiden-menu-item"><a class="hiden-menu-link" href="#price">Cennik</a></li>
      <li class="hiden-menu-item"><a class="hiden-menu-link" href="#faq">Często zadawane pytania</a></li>
      <li class="hiden-menu-item"><a class="hiden-menu-link" href="#contacts">Kontakt</a></li>
    </ul>
  </nav>
</header>

<div class="backdrop container">
  <ul class="backdrop-menu">
    <li class="backdrop-item">
      <a class="bd-menu-link" href="#">Wprowadzenie do świata zagadek</a>
    </li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">O nas</a></li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">Jak to działa?</a></li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">Nasze pokoje przygód</a></li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">Tryby gry</a></li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">Dlaczego warto nas wybrać?</a></li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">Galeria zagadek</a></li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">Dla kogo to jest?</a></li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">Cennik</a></li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">Często zadawane pytania</a></li>
    <li class="backdrop-item"><a class="bd-menu-link" href="#">Kontakt</a></li>
  </ul>
</div>
