<header class="header-section">
  <nav class="nav">
    <img class="header-logo" src="./img/mobile/puzzle-room-logo.png" alt="logo" />
    <button class="burger-btn" type="button">
      <img src="./img/mobile/burger-menu.png" alt="menu">
    </button>
    <button type="button" class="btn-close" data-action="close">close</button>
    <ul class="hiden-menu">
      <li class="hiden-menu-item">
        <a href="#">Wprowadzenie do świata zagadek</a>
      </li>
      <li class="hiden-menu-item"><a href="#">O nas</a></li>
      <li class="hiden-menu-item"><a href="#">Jak to działa?</a></li>
      <li class="hiden-menu-item"><a href="#">Nasze pokoje przygód</a></li>
      <li class="hiden-menu-item"><a href="#">Tryby gry</a></li>
      <li class="hiden-menu-item">
        <a href="#">Dlaczego warto nas wybrać?</a>
      </li>
      <li class="hiden-menu-item"><a href="#">Galeria zagadek</a></li>
      <li class="hiden-menu-item"><a href="#">Dla kogo to jest?</a></li>
      <li class="hiden-menu-item"><a href="#">Cennik</a></li>
      <li class="hiden-menu-item"><a href="#">Często zadawane pytania</a></li>
      <li class="hiden-menu-item"><a href="#">Kontakt</a></li>
    </ul>
  </nav>
</header>

<div class="bacdrop">
  <ul class="backdrop-menu">
    <li class="backdrop-item">
      <a href="#">Wprowadzenie do świata zagadek</a>
    </li>
    <li class="backdrop-item"><a href="#">O nas</a></li>
    <li class="backdrop-item"><a href="#">Jak to działa?</a></li>
    <li class="backdrop-item"><a href="#">Nasze pokoje przygód</a></li>
    <li class="backdrop-item"><a href="#">Tryby gry</a></li>
    <li class="backdrop-item"><a href="#">Dlaczego warto nas wybrać?</a></li>
    <li class="backdrop-item"><a href="#">Galeria zagadek</a></li>
    <li class="backdrop-item"><a href="#">Dla kogo to jest?</a></li>
    <li class="backdrop-item"><a href="#">Cennik</a></li>
    <li class="backdrop-item"><a href="#">Często zadawane pytania</a></li>
    <li class="backdrop-item"><a href="#">Kontakt</a></li>
  </ul>
</div>
