<section class="hero-section container" id="">
  <h1 class="hero-title">Otwórz drzwi do niezwykłego świata zagadek!</h1>
    <p class="hero-text right-side">
      Wyobraź sobie, że budzisz się w zamku unoszącym się w chmurach, albo że
      musisz uciec z laboratorium przyszłości kontrolowanego przez sztuczną
      inteligencję.
    </p>
    <div class="left-side">
      <p class="hero-text">
        Witaj w The Dazzling Joy Puzzle Room – miejscu, gdzie każda gra to pełna
        narracji przygoda.
      </p>
      <p class="hero-text">
        Przed Tobą seria wirtualnych escape roomów, które łączą zagadki,
        historię i piękną grafikę.
      </p>
    </div>

  <p class="bottom-text">
    Zanurz się w świat fantasy, science fiction i baśni — bez wychodzenia z
    domu.
  </p>
  <a class="start-game-btn" href="#">Rozpocznij grę</a>
</section>
