<section class="hero-section">
  <h1 class="hero-title">Otwórz drzwi do niezwykłego świata zagadek!</h1>
  <div class="hero-text-wrap">
    <p class="hero-text">
      Wyobraź sobie, że budzisz się w zamku unoszącym się w chmurach, albo że
      musisz uciec z laboratorium przyszłości kontrolowanego przez sztuczną
      inteligencję.
    </p>
    <p class="hero-text">Witaj w The Dazzling Joy Puzzle Room – miejscu, gdzie każda gra to pełna narracji przygoda. </p>
    <p class="hero-text">Przed Tobą seria wirtualnych escape roomów, które łączą zagadki, historię i piękną grafikę.</p>
  </div>

  <p class="">Zanurz się w świat fantasy, science fiction i baśni — bez wychodzenia z domu.</p>
  <a class="start-game-btn" href="#"></a>
</section>
