<section class="how-it-works-section" id="how-it-works">
  <h2 class="how-it-works-title">Jak to działa?</h2>
  <p> Zagraj w <span class="">3</span> <span>prostych krokach</span></p>
  <h4 class="steps-title">Cały proces został zaprojektowany tak, by był intuicyjny, szybki i dostępny dla każdego:</h4>
  <ul class="steps-list">
    <li class="steps-item">
      <img src="" alt="">
      <div class="steps-text-wrap">
        <p class="steps-text"><span>1</span> krok</p>
        <p class="steps-text"><span>Wybierz pokój</span> – 	przeglądaj tematy i poziomy trudności, znajdź coś dla siebie.</p>
      </div>
    </li>
    <li class="steps-item">
      <img src="" alt="">
      <div class="steps-text-wrap">
        <p class="steps-text"><span>2</span> krok</p>
        <p class="steps-text"><span>Dołącz do gry</span> – 	możesz grać samodzielnie lub zaprosić znajomych do drużyny.</p>
      </div>
    </li>
    <li class="steps-item">
      <img src="" alt="">
      <div class="steps-text-wrap">
        <p class="steps-text"><span>3</span> krok</p>
        <p class="steps-text"><span>Dołącz do gry</span> – 	możesz grać samodzielnie lub zaprosić znajomych do drużyny.</p>
      </div>
    </li>
  </ul>
  <div class="bottom-text-info-wrap">
    <p class="bottom-text">Nie musisz nic instalować – wystarczy przeglądarka i internet!</p>
    <img src="" alt="computer">
  </div>
</section>