<section class="how-it-works-section container" id="how-it-works">
  <div class="how-it-works-wrap">
    <h2 class="how-it-works-title">Jak to działa?</h2>
    <p class="hiw-subtitle"> Zagraj w <span class="digit-title">3</span> <span>prostych krokach</span></p>
    <h4 class="steps-title">Cały proces został zaprojektowany tak, by był intuicyjny, szybki i dostępny dla każdego:</h4>
    <ul class="steps-list">
      <li class="steps-item">
        <img class="steps-img" src="./img/mobile/compass.png" alt="compass">
        <div class="steps-text-wrap">
          <p class="steps-text"><span class="digit">1</span> <span class="krok">krok</span></p>
          <p class="steps-text"><span>Wybierz pokój</span> – 	przeglądaj tematy i poziomy trudności, znajdź coś dla siebie.</p>
        </div>
      </li>
      <li class="steps-item">
        <img class="steps-img" src="./img/mobile/gaming-controller.png" alt="gaming controller">
        <div class="steps-text-wrap">
          <p class="steps-text"><span class="digit">2</span> <span class="krok">krok</span></p>
          <p class="steps-text"><span>Dołącz do gry</span> – 	możesz grać samodzielnie lub zaprosić znajomych do drużyny.</p>
        </div>
      </li>
      <li class="steps-item">
        <img class="steps-img sand-clock" src="./img/mobile/sand-clock.png" alt="sand clock">
        <div class="steps-text-wrap">
          <p class="steps-text"><span class="digit">3</span> <span class="krok">krok</span></p>
          <p class="steps-text"><span>Rozwiąż zagadki i ucieknij!</span> – masz 60 minut, by znaleźć rozwiązanie i wydostać się z pokoju.</p>
        </div>
      </li>
    </ul>
    <div class="bottom-text-info-wrap">
      <p class="bottom-text-info">Nie musisz nic instalować – wystarczy przeglądarka i internet!</p>
      <img class="hiw-pc" src="./img/mobile/pc.png" alt="computer">
    </div>
  </div>
</section>