<section class="pricing-section container" id="price">
  <div class="pricing-wrap">
    <h2 class="pricing-title">Cennik</h2>
    <h3 class="pricing-subtitle">Przygoda dostępna dla każdego budżetu</h3>

    <p class="pricing-description">
      Niezależnie od tego, czy grasz sam, z przyjaciółmi czy organizujesz
      wydarzenie – nasze escape roomy są dostępne w uczciwej i przejrzystej
      cenie.
    </p>
    <p class="pricing-description price-second-text">
      Oto nasze podstawowe pakiety:
    </p>

    <ul class="pricing-cards-list">
      <li class="pricing-card-item">
        <img src="./img/mobile/emoji_boy.png" alt="" class="card-icon" />
        <h3 class="card-title">Solo Explorer</h3>
        <p class="card-intro">
          Dla indywidualnych graczy, którzy lubią odkrywać w samotności.
        </p>
        <h4 class="card-feature-title">W zestawie:</h4>
        <ul class="card-features-list">
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Pełny dostęp do wybranej gry przez 7 dni
            </p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Możliwość zapisania postępu i kontynuacji w dowolnym momencie
            </p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Obsługa na komputerze i urządzeniach mobilnych
            </p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Interaktywna fabuła, alternatywne zakończenia i nieliniowy
              przebieg
            </p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Dostęp aktywowany automatycznie po zakupie
            </p>
          </li>
        </ul>
        <p class="feature-note">
          Idealna opcja na wieczór z herbatą, słuchawkami i pełnym zanurzeniem w
          fabularny świat.
        </p>
        <p class="card-price first">19 zł</p>
      </li>

      <li class="pricing-card-item">
        <img src="./img/mobile/brain.png" alt="" class="card-icon" />
        <h3 class="card-title">Zespół (2–4 graczy)</h3>
        <p class="card-intro">
          Dla znajomych, par i rodzin — grajcie wspólnie z dowolnych
          lokalizacji!
        </p>
        <h4 class="card-feature-title">W zestawie:</h4>
        <ul class="card-features-list">
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Wspólny dostęp do jednej gry dla maksymalnie 4 graczy
            </p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Osobne linki logowania dla każdego uczestnika
            </p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">System współpracy i podziału zadań</p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Możliwość grania razem w czasie rzeczywistym (lub niezależnie,
              asynchronicznie)
            </p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Czaty i narzędzia ułatwiające komunikację i rozwiązywanie zagadek
            </p>
          </li>
        </ul>
        <p class="feature-note">
          To świetny sposób na kreatywne spotkanie online i wspólną przygodę bez
          wychodzenia z domu.
        </p>
        <p class="card-price">49 zł</p>
      </li>

      <li class="pricing-card-item">
        <img src="./img/mobile/emoji_school.png" alt="" class="card-icon" />
        <h3 class="card-title">Wydarzenia dla firm/szkół</h3>
        <p class="card-intro">
          Dla grup zorganizowanych, które szukają angażującej rozrywki z
          wartością edukacyjną lub integracyjną.
        </p>
        <h4 class="card-feature-title">W zestawie:</h4>
        <ul class="card-features-list">
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">Personalizowany pakiet dla 	grupy od 5 do 30+ osób</p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Możliwość gry w zespołach 	z rywalizacją lub współpracą
            </p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">Indywidualna opieka 	koordynatora podczas wydarzenia</p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Możliwość dostosowania 	czasu gry do harmonogramu wydarzenia
            </p>
          </li>
          <li>
            <img src="./img/mobile/check-mark.png" alt="" class="checkmark" />
            <p class="card-features-text">
              Dostęp do raportów z 	wynikami i opcjonalnych materiałów edukacyjnych
            </p>
          </li>
        </ul>
        <p class="feature-note">Świetne na lekcje, warsztaty, spotkania integracyjne i eventy online.</p>
        <p class="card-price">199 zł</p>
      </li>
    </ul>

    <ul class="pricing-highlights">
      <li class="highlight-item">
        <img src="./img/mobile/credit-card.png" alt="credit card" class="highlight-icon" />
        <p class="highlight-text"><span>Bezpieczne płatności</span> – przyjmujemy szybkie przelewy, karty oraz płatności mobilne</p>
      </li>
      <li class="highlight-item">
        <img src="./img/mobile/cloud.png" alt="cloud" class="highlight-icon" />
        <p class="highlight-text"><span>Dostęp natychmiast po zakupie </span>– nie musisz nic pobierać ani instalować</p>
      </li>
      <li class="highlight-item">
        <img src="./img/mobile/calendar.png" alt="calendar" class="highlight-icon" />
        <p class="highlight-text"><span>Elastyczny czas gry</span> – każda gra jest aktywna przez 7 dni od momentu pierwszego wejścia</p>
      </li>
    </ul>
  </div>
</section>
