<section class="why-choose-us-section container" id="why-us">
  <div class="why-choose-us-wrap">
    <h2 class="why-choose-us-title">Dlaczego warto nas wybrać?</h2>

    <div class="why-choose-us-content container">
      <ul class="why-choose-us-benefits-list">
        <li class="benefit-item">
          <img class="why-us-check-mark-img" src="./img/mobile/check-mark.png" alt="check-mark" />
          <p class="why-us-text">
            Oryginalne scenariusze tworzone z pasją przez scenarzystów fantasy i
            sci-fi
          </p>
        </li>
        <li class="benefit-item">
          <img class="why-us-check-mark-img" src="./img/mobile/check-mark.png" alt="check-mark" />
          <p class="why-us-text">
            Zagadki, które rozwijają wyobraźnię, spostrzegawczość i myślenie
            krytyczne
          </p>
        </li>
        <li class="benefit-item">
          <img class="why-us-check-mark-img" src="./img/mobile/check-mark.png" alt="check-mark" />
          <p class="why-us-text">
            Możliwość gry bez instalacji – od razu w przeglądarce
          </p>
        </li>
        <li class="benefit-item">
          <img class="why-us-check-mark-img" src="./img/mobile/check-mark.png" alt="check-mark" />
          <p class="why-us-text">
            Wersje językowe: polski, angielski, a wkrótce także inne
          </p>
        </li>
        <li class="benefit-item">
          <img class="why-us-check-mark-img" src="./img/mobile/check-mark.png" alt="check-mark" />
          <p class="why-us-text">Grafika i dźwięk na poziomie gier premium</p>
        </li>
      </ul>

      <p class="why-choose-us-quote">
        Bo każda minuta gry to coś więcej niż tylko zabawa
      </p>
    </div>

    <p class="why-choose-us-note">
      Dodatkowo nasze escape roomy są idealne jako prezent – możesz podarować
      komuś dostęp do magicznego świata zagadek.
    </p>
  </div>
</section>
