.about-section {
  display: flex;
}

.about-wrap {
  margin-top: 65px;
  margin-bottom: 60px;
  @include media(desktop) {
    margin-top: 80px;
    margin-bottom: 100px;
  }
}

.about-title {
  display: inline-block;
  border-bottom: 2px solid rgba(213, 136, 28, 0.8);
  font-size: 20px;
  color: #fff;
  @include media(desktop) {
    font-size: 40px;
  }
}

.about-subtitle {
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 40px;
  @include media(desktop) {
    font-size: 40px;
  }
}

.about-text-wrap {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include media(desktop) {
    gap: 40px;
  }
}

.about-text {
  font-size: 16px;
  text-align: center;
  color: #fff;
  @include media(desktop) {
    font-size: 32px;
  }
}
