.hero-section {
  background-image: url('../img/mobile/background-hero.png');
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  @include media(desktop) {
    background-image: url('../img/desktop/background-hero.png');
  }
}

.hero-title {
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 98px;
  @include media(desktop) {
    font-size: 40px;
    margin-top: 200px;
  }
}

.hero-text {
  font-size: 10px;
  text-align: center;
  color: #fff;
  width: 140px;
  height: 72px;

  @include media(desktop) {
    font-size: 20px;
    width: 416px;
    height: 120px;
  }
}

.hero-text-wrap {
  @include media(desktop) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 60px;
  }
}

.right-side {
  border: 0.34px solid rgba(49, 191, 80, 0.1);
  padding: 8px;
  margin-top: 13px;
  margin-left: auto;
  width: 155px;

  backdrop-filter: blur(2.711111068725586px);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(213, 136, 28, 0.12);

  @include media(desktop) {
    width: 420px;
    padding: 36px 2px;
    margin-left: 0;
  }
}

.left-side {
  margin-top: 20px;
  width: 176px;
  height: 88px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.left-side-text {
  width: 176px;
}

.left-side .hero-text {
  text-align: start;

  @include media(desktop) {
    width: 519px;
    height: 128px;
  }
}

.bottom-text-wrap {
  margin-bottom: 60px;
  @include media(desktop) {
    max-width: 628px;
    width: 100%;
    margin-bottom: 142px;
  }
}

.bottom-text {
  margin-top: 43px;
  font-size: 15px;
  color: #fff;
  @include media(desktop) {
    font-size: 28px;
    max-width: 100%;
  }
}

.start-game-btn {
  width: 100%;
  font-weight: 500;
  height: 46px;
  padding: 0 2px;
  margin-top: 24px;
  background: #d5881c;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 20px;
  color: #070707;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    height: 72px;
    margin-top: 32px;
    font-weight: 500;
    font-size: 32px;
  }
}
