@import './header.scss';
@import './hero.scss';
@import './about.scss';
@import './how-it-works.scss';
@import './adventure-room.scss';
@import './game-mode.scss';
@import './why-us.scss';
@import './gallery.scss';
@import './target.scss';
@import './price.scss';
@import './faq.scss';
@import './contacts.scss';
@import './footer.scss';
@import './policy.scss';
@import './terms.scss';
@import './cookie.scss';


main {
  background-image: linear-gradient(
    180deg,
    #3f2c20 0%,
    #322217 40.87%,
    #20150f 71.15%,
    #060201 100%
  );
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 375px 100%;

  background-attachment: scroll;

  @include media(desktop) {
    background-image: url('../img/desktop/body-background-desktop.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1440px 100%;
  }
}
